/services/auth-service/                                 @Radhika-verma1
/services/vendor-service/src/modules/vendor/             @Nandinikanaujiya
/services/vendor-service/src/modules/availability/       @Nandinikanaujiya
/services/event-booking-service/src/modules/event/       @TargetUltimate-Alka
/services/event-booking-service/src/modules/booking/     @TargetUltimate-Alka
/services/payment-feedback-service/src/modules/payment/    @mishralok794
/services/payment-feedback-service/src/modules/review/     @mishralok794
/services/payment-feedback-service/src/modules/complaint/  @mishralok794
/frontend/src/features/auth/                             @Radhika-verma1
/frontend/src/features/vendor/                           @Nandinikanaujiya
/frontend/src/features/events-booking/                   @TargetUltimate-Alka
/frontend/src/features/payments-reviews/                 @mishralok794
/contracts/                                               @Radhika-verma1 @Nandinikanaujiya @TargetUltimate-Alka @mishralok794
/docker-compose.yml                                       @Radhika-verma1 @Nandinikanaujiya @TargetUltimate-Alka @mishralok794
